body{
    background-color: white
}
h1, h2, h3, h4, h5, h6{
    font-family: "PlayFair Display";
    margin-top: 0%;
}
p{
    font-family: "Roboto";
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 12px;
}
/* button */
.label{
    position: absolute;
    background-color: #CC0000;
    display: flex;
    border-style: none;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 5px;
}
.live{  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans JP", serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffff;
    text-align: center;
}

.live p {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 0px;
}
.dot{
    align-items: center;
    height: 12px;
    width: 12px;
    background-color: #E06666;
    border-radius: 50%;
    display: inline-block;
}

h3{
    line-height: 24px;
}
.imageDescription{
    font-weight: lighter;
    text-align: end;
    color: #6C6C6C;
    margin-bottom: 0%;
}
.time{
    font-size: 15px;
    font-family: "Sahitya", serif;
    text-align: end;
    padding-right: 2px;
    color: #6C6C6C;
    margin-bottom: 0px;
}
.date{  
    font-size: 15px;
    font-family: "Sahitya", serif;
    text-align: end;
    color: #6C6C6C;
    margin-bottom: 4px;
}
.category{
    font-weight: bold;
    text-align: end;
    font-family: "Roboto", serif;
    color: #990F3D;
    font-size: 14px;
}

.author{  
    font-size: 15px;
    font-family: "Sahitya", serif;
    text-align: start;
    color: #6C6C6C;
    margin-bottom: 0px;
}
.author_date{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.author_time{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
/* .topTier, .secTier{
    margin-bottom: 30px;
} */
.section2, .section3, .section4{
    display: flex;
    flex-direction: column;

}
.section2, .section3{
    justify-content: space-between;
}
.section2 .medium-port{
    border-bottom: 1px solid #ABABAB;
}
.section2 .bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section3{
    gap: 10px;
}
.section4{
    gap: 10px;
}
.section4 .top{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid #ABABAB;
}
.section4 .medium-port{
    flex: 50%;
}



/*main */
.main{
    position: relative; 
}
.main img{
    width: 100%;
    height: 576px;
    object-fit: cover;
    filter:brightness(50%);
    margin-bottom: 5px;
} 
.main .imageDescription{
    font-size: 35px;
    line-height: 21px;
}
.main .imageDescription h4{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 100;
    text-align-last:right;
    line-height: 21px;
}
.main .context{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 53%;
    margin-right: 17px;
    top: 0px;
}
.main .header{
    border-bottom-width:thin ;
    border-bottom-style: solid;
    border-bottom-color: white;
    margin-bottom: 5px;

}
.main h3{
    color: white;
    font-size: 55px;
    font-weight: 450;
    line-height: 50px;
    margin-bottom: 20px;
}
.main .category{
    color: #ffff;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    text-align-last:right;
}
/* .main h4{
    font-size: 35px;
    font-family: "Roboto", serif;
    font-weight: 100;
    text-align-last:right;
    line-height: 21px;
} */

/* medium-port */
.medium-port{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    justify-content: space-between;
}
.medium-port h3{
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 24px;
}
.medium-port .label{
    top:-10px;
    left:-5px;
}

.medium-port .second{
    margin-bottom: 5px;
}
.medium-port .category{
    text-align: start;
    margin: 0px;
}

.medium-port img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


/* 
.section2 > :nth-child(n+2) img {
    display: none;

}

.section2 > :nth-child(n+2) h3 {
    font-size: 12px;
    line-height: 14px;

}

.section2 > :nth-child(n+2) p.imageDescription {
    display: none;

}

.section2 > :nth-child(n+2) p.date {
    display: none;

} */


/* .mini-port img {
    display: none;
} */



/* medium-land */
.medium-land{
    display: flex;
    flex-direction: row;
    background-color: white;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.medium-land .content{
    flex:54%;
    position: relative;
}
.medium-land .label{
    position: absolute;

}
.medium-land .context{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.medium-land .text{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.medium-land .first{
    border-bottom:1px solid grey;
}
.medium-land .first h3{
    font-size: 20px;
    line-height: 18px;
}
.medium-land .category{
    margin-bottom: 10px;
}
.medium-land .second h3{
    font-weight: 500;
    font-size: 19px;
    line-height: 16px;
}
.medium-land img{
    width: 100%;
    height: 230px;
    object-fit: contain;
}


/* only-title */
.only-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    border-bottom: 1px solid #ABABAB;
    height: 33%;
}
.only-title h4{
    font-size: 14px;
}
.only-title .category{
    font-size: 10px;
    margin-bottom: 1px;
}
.only-title img{
    display: none;
}
