/* General */
.new a{
    font-size: larger;
    font-weight: 300;
}
.new a:hover{
    font-weight: bolder;
}
.wel, .cho{
    display: none;
}

/* style for flash_message */
    .alert {
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    }
.alert-success {
    font-weight: bold;
    color: #33691E;
    background-color: #B1FF91;
    border-color: #33691E;
}
.alert-failed {
    font-weight: bold;
    color: #FC0029;
    background-color: #FEB1C1;
    border-color: #FC0029;
    }

/* Related to the location_tab.php */
    h1{
        background-color: #FFFF88; 
        text-align: center;
        border: 2px solid #FFFF00;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, td {
        border: 1px solid black;
    }

    th{
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }
    td {
        padding: 5px;
        text-align: left;
    }
    /* thead */
    th, .nm{
        background-color: #FFFF88;
    }
    th, .act{
        background-color: #FFFF00;
    }
    /* td */
    .nme{
        background-color: #ffffc0;
    }
    .an{
        background-color: #FFFF95;
        text-align: center;
    }
    .form-delete {
        display: inline;
    }

/* Ralated to the location_edit.php */
    /* for the un-ordered list style img  */
    form{
        margin-bottom: 5px;
    }
    /* error message in location_edit and location_create.php*/
    .error {
        color:red;
        text-decoration: underline; 
        margin: 5px;
    }