/* General */

.new a{
    font-size: larger;
    font-weight: 300;
}
.new a:hover{
    font-weight: bolder;
}
.wel, .cho{
    display: none;
}

    /* Set the list image as background image*/
        li::before {
            content: '';
            display: inline-block;
            margin-right: 10px;

            /* Height of the list image*/
            height: 20px;

            /* Width of the list image*/
            width: 20px;
            background-image: url('../spiral.gif');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

    /* style for flash_message */
        .alert {
        border: 1px solid transparent;
        border-radius: .25rem;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        }
    .alert-success {
        font-weight: bold;
        color: #33691E;
        background-color: #B1FF91;
        border-color: #33691E;
    }
    .alert-failed {
        font-weight: bold;
        color: #FC0029;
        background-color: #FEB1C1;
        border-color: #FC0029;
        }

    /* Related to the index.php */
        h1{
            background-color: #ffadff;
            text-align: center; 
            border: 2px solid #E889FF;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, td {
            border: 1px solid black;
        }

        th{
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
        td {
            padding: 5px;
            text-align: left;
        }
        /* thead */
        th, .fn, .ln{
            background-color: #ffadff;
        }
        th, .act{
            background-color: #E889FF;
        }
        /* td */
        .afn, .aln{
            background-color: #f0d7ff;
        }
        .an{
            background-color: #E5CCFF;
            text-align: center;
        }
        .form-delete {
            display: inline;
        }

    /* Ralated to the module_edit.php */
        /* for the un-ordered list style img  */
        form{
            margin-bottom: 5px;
        }
        /* error message in module_edit and module_create.php*/
        .error {
            color:red;
            text-decoration: underline; 
            margin: 5px;
        }